<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="S22_ksarmossConnectionString" connectionString="Data Source=139.78.8.180,443;Initial Catalog=S22_ksarmoss;Persist Security Info=True;User ID=ksarmoss;Password=$pring224807"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
