html {
    background-color: #000;
}

body {
    background-color: #000;
    font-family: 'Exo 2', sans-serif;
    color: whitesmoke;
}

h1, h2, h3, h4, p {
    color: whitesmoke;
}

hr {
    color: whitesmoke;
}

.top-bar {
    padding-left: 0;
    display: flex;
    justify-content: right;
}

.top-bar img {
    width: 1.5em;
    margin-top: 1em;
}

.top-bar li {
    list-style-type: none;
    display: inline;
    margin: .8em;
    float: right;
}

.headerLogo {
    justify-content: left;
    width: 75%;
    margin-left: 2em;
    padding-left: 0;
}

.header-nav {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-left: 0;
}

.nav-item a {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: #fff;
}

nav ul {
    float: right;
}

.carousel-control-next,
.carousel-control-prev {
    background-color: #b91917;
    color: #fff;
    width: 3em;
    height: 3em;
    top: calc(50% - 1em);
    border-radius: 50%;
}

.carousel-control-prev {
    left: 20%;
}

.carousel-control-next {
    right: 20%;
}

.news-image {
    height: 20em;
}

.carousel-caption h5 {
    color: #b91917;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black, 0 0 1em grey, 0 0 0.2em whitesmoke;
}

.carousel-caption p {
    text-shadow: 1px 1px 1px black, 0 0 1em grey, 0 0 0.2em whitesmoke;
}

.home-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-align:center;
}

.home-1 {
    background-image: url('../Images/GetStarted.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20em;
    height: 20em;
    text-shadow: 3px 3px 3px black, 0 0 1em grey, 0 0 0.2em whitesmoke;
}

.home-1 li {
    text-align: left;
}

#btnIracingSignup {
    margin-top: 1em;
    margin-bottom: 1em;
}

.upcoming,
.team-login {
    color: white;
    margin: .5em;
}


.team-login {
    background-image: url('../Images/teamlogin.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20em;
    height: 20em;
    text-shadow: 3px 3px 3px black, 0 0 1em grey, 0 0 0.2em whitesmoke;
}

.upcoming {
    background-image: url('../Images/upcoming.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20em;
    height: 20em;
    text-shadow: 3px 3px 3px black, 0 0 1em grey, 0 0 0.2em whitesmoke;
}

.upcoming,
.team-login,
.home-1 {
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    text-align: center;
}

#aboutUsCarousel img {
    width: auto;
    height: 15em;
}

#exAlbum1 img {
    width: auto;
    height: 15em;
}

#exAlbum2 img {
    width: auto;
    height: 15em;
}

.drivers {
    text-align: center;
}

.drivers h2 {
    margin-bottom: 2em;
}

.profile-pic {
    border-radius: 50%;
    width: 20%;
}

.MattBullets,
.AaronBullets {
    display: table;
    margin: 2em auto;
    text-align: left;
}

.accomplishments {
    text-align: left;
}

.MattBullets a,
.AaronBullets a {
    color: #b91917;
    text-decoration: underline;
}

.MattBio,
.AaronBio {
    padding-left: 1em;
    text-align: left;
}

.admin,
.login,
.register,
.application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.application {
    padding:0;
}

.app-labels {
    text-align:right;
}

.AppValid {
    display: flex;
    flex-direction: column;
    padding:0;
}

.AppMessageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #B91917;
}

#rfvApplyPrimaryCar {
    margin-top:5em;
}

.app-buttons {
    text-align:center;
}

.register p {
    text-align:center;
}

#footer {
    text-align: center;
}

.videoEmbed {
    text-align: center;
    margin-bottom:2em;
}

.ImgCols img {
    margin:1em;
}

.media-image {
    display:flex;
    justify-content:center;
    align-items:center;
}

.admin-buttons {
    display:flex;
    flex-direction:row;
}

#LoginMenuItem {
    display: block;
}

#LogoutMenuItem {
    display: none;
}

/*#AdminMenuItem {
    display: none;
}*/